<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/img/bg-01.jpg');">
        <div class="wrap-register100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form" autocomplete="off" [formGroup]="registroForm" (ngSubmit)="registro()">
                <span class="login100-form-title p-b-49">
                    Registro
                </span>
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Nombre</span>
                    <input class="input100"
                           type="text"
                           formControlName="nombre"
                           placeholder="Ingrese su nombre">
                    <span class="focus-input100"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="wrap-input100 m-b-23">
                            <span class="label-input100">Email</span>
                            <input class="input100"
                                   type="email" 
                                   formControlName="email"
                                   placeholder="Ingrese su email">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 mt-5">
                            <span class="label-input100">Departamento</span>
                            <input  class="input100"
                                    type="text"
                                    formControlName="departamento"
                                    placeholder="Ingrese su departamento">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 mt-5">
                            <span class="label-input100">Direccion</span>
                            <input class="input100"
                                   type="text"
                                   formControlName="direccion"
                                   placeholder="Ingrese su dirección">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wrap-input100 m-b-23">
                            <span class="label-input100">Password</span>
                            <input class="input100"
                                   type="password"
                                   formControlName="password"
                                   placeholder="Ingrese su contraseña">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 mt-5">
                            <span class="label-input100">Celular</span>
                            <input class="input100"
                                   type="number"
                                   formControlName="celular"
                                   placeholder="Ingrese su N° Celular">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="mt-5">
                            <span class="label-input100">Privilegio</span>
                            <div class="row">
                                <div class="col-6">
                                    <div class="container-login100-form-btn mt-5">
                                        <div class="wrap-login100-form-btn">
                                            <div class="login100-form-bgbtn"></div>
                                            <button class="login100-form-btn" type="button" (click)="role = true">
                                                Admin
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="container-login100-form-btn mt-5">
                                        <div class="wrap-login100-form-btn">
                                            <div class="login100-form-bgbtn"></div>
                                            <button class="login100-form-btn" type="button" (click)="role = false">
                                                User
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                </div>
                <div class="container-login100-form-btn mt-5">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" [disabled]="!registroForm.valid">
                            Registrar
                        </button>
                    </div>
                </div>
                <div class="flex-col-c p-t-60">
                    <span class="txt1 p-b-17">
                        ¿Ya tienes una cuenta?
                    </span>
                    <a routerLink="/auth/login" class="txt2">
                        Ingresa aqui
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>